data/*

data/normalization_factors_stocks.json
data/normalization_factors_weather.json

.DS_Store
.ipynb_checkpoints/
darts_logs/*
.darts_logs/*
.optuna_logs/*
.vscode
models/
__pycache__/

*.parquet
*.csv
*.pkl
*.txt
*.dly
*.pdf
*.png
test_loss_functions.ipynb
